* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 50px;
}

body{
  color: #ffffff;
  background-color: #000000;
}

h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;
}
p, li, ul{
    font-size: medium;
    font-family: 'Domine', serif;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.home-container{
  margin: auto;
  width: 50vw;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin-right: 80px;
}

.nav-item{
    margin: 0 20px;
}

.hero{
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.about{
  margin: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  flex-direction: column;
}

.works{
  margin: 80px 0;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-position: none;
}

.connect{
  margin: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.facebook{
  color: #0b559e;
}

.instagram{
  color: #e3205a;
}

.linkedin{
  color: #163075;
}

.github{
  color: #4f5152;
}

.telegram{
  color: #14aac4;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
  .home-container{
    width: 90vw;
  }
  .works ul{
    width: 50vw;
  }
}
